<br><br>
<strong><%= @genre.name %></strong>
<br>
<br>
<ul>
<% @genre.movies.each do |movie| %>
  <li><%= link_to movie.title, movie_path(movie) %><br></li>
<% end %>
</ul>
<% if current_user.admin %>
  <%= link_to "Add a NEW movie", new_movie_path %>
<% end %>
