
<strong><%= @actor.name %></strong>
<br><br>
<% if current_user.admin %>
  <%= link_to "Edit Actor details", edit_actor_path %><br><br>
<% end %>
Bio:<br><br>
<%= @actor.bio %>


<% if @actor.movies %>
  <ol><% @actor.movies.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %></li>
  <% end %></ol>
<% end %>
