
<strong><%= @movie.title %></strong>
<br>
<br>
Cast:
<br>
<ul><% @movie.actors.each do |actor| %>
  <li><%=link_to actor.name, actor_path(actor) %><br></li>
    <% end %></ul>
<br>
Summary:
<%= @movie.plot %>
